
      body {
        background-image: url("images/cloud6.jpg");
        background-color : #cccccc;
      }
      ul {
        list-style-type : none;
        margin : 0;
        padding : 0;
        overflow: auto;
        background-color : #333;
      }
      li {
        float : right;
      }
      li a {
        display : block;
        color : white;
        text-align : center;
        padding : 20px 26px;
        text-decoration : none;
      }
      li a:hover {
        background-color : #111;
      }
      #city {
        border-radius: 20px;
        padding: 10px 200px;
      }
      #btn1 {
        border-radius: 20px;
        padding: 10px 20px;
      }
      .wapp { 
        display:inline;
        float:left;
        border: 2px solid grey;
        border-radius: 12px;
        padding: 15px 40px;
        margin: 5px;  
      }
      h4 {
        background-color : white;
        border-radius: 12px;
        padding : 15px;
      }
